<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>Pennsylvania Budget Clock</title>
        
        <meta name="description" content="See how long Pennsylvania has been languishing without a budget, why it matters, & what you can do about it.">
        <meta name="author" content="Open Pittsburgh & Chi Hack Night">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:site_name" content="Pennsylvania Budget Clock">
        <meta property="og:title" content="Pennsylvania Budget Clock">
        <meta property="og:type" content="website">
        <meta property="og:description" content="See how long Pennsylvania has been languishing without a budget, why it matters, & what you can do about it.">
        <meta property="og:url" content="http://pabudgetclock.com/">
        <meta property="og:image" content="http://pabudgetclock.com/images/screengrab.jpg">


        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@openpgh">
        <meta name="twitter:creator" content="@openpgh">
        <meta name="twitter:description" content="See how long Pennsylvania has been languishing without a budget, why it matters, & what you can do about it.">
        <meta name="twitter:title" content="Pennsylvania Budget Clock">
        <meta name="twitter:url" content="http://pabudgetclock.com/">
        <meta name="twitter:image:src" content="http://pabudgetclock.com/images/screengrab.jpg">

        
        <link rel="stylesheet" href="css/custom.css">
        <link rel="icon" type="image/png" href="favicon.png">

        <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800' rel='stylesheet' type='text/css'>


    </head>
    <body>
        
        {{content}}

        <script src="js/jquery.min.js"></script>
        <script src="js/moment.js"></script>
        <script src="js/jquery.address.js"></script>
        <script src="js/analytics_lib.js"></script>
        <script type="text/javascript">

            default_reason = {title: 'Pennsylvania schools & districts have been forced to borrow nearly a billion dollars from private banks, with interest.', source: "Pittsburgh Post Gazette", url: 'http://www.post-gazette.com/news/state/2016/01/11/CCAC-borrows-to-offset-state-budget-crisis-and-the-interest-keeps-growing/stories/201601110014'}

            var reasons = [
				<!--{title: "", source: "", url: ""}, that's yr template there.-->
                {title: 'PA college students are not receiving well-earned PA state grants.', source: 'Kutztown University', url: 'http://www.kutztown.edu/news-and-media/announcements/pheaa-grant-notice.htm'},
				{title: "This is the longest-lasting budget impasse the state has seen in two generations.", source: "PennLive", url: "http://www.pennlive.com/news/2016/01/bad_budget_times_equal_bad_per.html"},
				{title: "It is causing veteran lawmakers to quit in frustration.", source: "Lancaster Online", url: "http://lancasteronline.com/news/pennsylvania/state-lawmakers-announce-retirements-amidst-budget-impasse-witf-reports/article_672e7d16-bae9-11e5-a8c4-a743bdfe3a6c.html"},
                {title: "Failure to fund certain line items in a timely manner can be considered illegal, and the state is being thusly sued.", source: "Daily Collegian", url: "http://www.collegian.psu.edu/news/state_national_international/article_33808d3e-be12-11e5-9244-378ff09ebb14.html"}
            ]
            var indices = []
            $.each(reasons, function( index, value ) {
                indices.push(index);
            });

            var i = 0;

			var clock;
            updateClock();
			
			var clock2;
			updateClock2();
			
			

            setInterval(function(){
                updateClock();
            }, 1000);

            function updateClock(){
                clock = moment().subtract(moment("June 30 2015 23:00:00")); <!--Wrong! This should be 11pm day before (daylight savings)-->
                $("#months").html(clock.get('month'));
                $("#days").html(clock.get('date'));
                $("#hours").html(clock.get('hour'));
                $("#minutes").html(clock.get('minute'));
                $("#seconds").html(clock.get('second'));
            }
			
			setInterval(function(){
                updateClock2();
            }, 1000);
			
			function updateClock2(){
                clock2 = moment("February 9 2016 12:00:00").fromnow(); <!--Governor's Budget Address-->
                $("#months2").html(clock2.get('month'));
                $("#days2").html(clock2.get('date'));
                $("#hours2").html(clock2.get('hour'));
                $("#minutes2").html(clock2.get('minute'));
                $("#seconds2").html(clock2.get('second'));
            }

            function shuffle(o){
                for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
                return o;
            }

            function renderReason(reason){
                $("#reason").html(reason['title']+'<br /><span  class="small">Source: <a href="'+reason['url']+'" target="blank">' + reason['source'] + '</a></span>');
            }


            $('#do-something').hide();

            if($.address.parameter("reason") && parseInt($.address.parameter("reason"))<reasons.length){
                renderReason(reasons[parseInt($.address.parameter("reason"))])
            }
            else{
                renderReason(default_reason)
            }


            shuffle(indices);
            $('#more').on('click', function(e){

                $.address.parameter('reason', indices[i]);
                $('#reason').fadeOut().delay(200).fadeIn()
                window.setTimeout(function () {
                    renderReason(reasons[indices[i]]);
                    i = (i+1) % reasons.length;
                    }, 500);

            })

            $('#call-to-action-btn').on('click', function(e){
                $('#do-something').slideDown(function(){ $('html, body').animate({
                        scrollTop: $("#do-something").offset().top
                     }, 500); });
                
                _trackClickEventWithGA('Click', 'Do something', 'Do something')
            })



        </script>
    </body>
</html>
